NEXT_PUBLIC_SUPABASE_URL=https://hhjuvvbnuzewdymbgyvf.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_pozAWMHRpEdqGdZs0_X6oA_vpIESpDt
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhoanV2dmJudXpld2R5bWJneXZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MDU4MDgsImV4cCI6MjA4OTQ4MTgwOH0.6gBKqv_K-mqKUweam2NA8bAAImUXls0DqFqGbAI6NSM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhoanV2dmJudXpld2R5bWJneXZmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzkwNTgwOCwiZXhwIjoyMDg5NDgxODA4fQ.H4dF8SMypmt4N1EmXti47KSXJslYWg2O5nwuSC4t7BI
DATABASE_URL="postgresql://postgres.hhjuvvbnuzewdymbgyvf:Huynh0982872411@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres"